<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @nomination_list.token %>
</p>

<%= link_to 'Edit', edit_nomination_list_path(@nomination_list) %> |
<%= link_to 'Back', nomination_lists_path %>
